*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}



.mega-container{
    width: 100%;
    display: flex;
    
    
}

.sidebar{
    width: 30%;
    background-color: #000000;
}


/* ******************************
UTILITY
****************************** */

ul{
    list-style-type: none;
}



/* ******************************
HEADER
****************************** */
header{
    width: 100%;
    background-color:#080b12;
    color: white;
}


/* ******************************
MAIN
****************************** */
main {
    width: 100%;
    background-color:#141922;
}

.menù ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



  /* ******************************
  FOOTER
  ****************************** */
  footer{
      background-color: #282828;
  }

  .player{
    width: 100%;
    display:flex ;
  }

  .col-25{
    width: 25%;
  }

  .col-50{
    width: 50%;
  }

  