* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px white; */
}



.mega-container {
    display: flex;
    position: relative;
    width: 100vw;
    height: calc(100vh - 100px);
}

/* ******************************
SIDEBAR
****************************** */




.sidebar {
    width: 100px;
    /* height: calc(100vh - 100px); */
    background-color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.sidebar li {
    display: flex;

}

.sidebar img {
    width: 40px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist {
    display: none;
}

.lungo {
    display: none;
}

.sidebar span {
    display: none;

}


/* ******************************
UTILITY
****************************** */

i, h1, h6{
    color: white;
}

span, h5, p {
    color: grey;
}

ul {
    list-style-type: none;
}

.btn {
    border: 1px solid white;
    font-size: 70%;
    border-radius: 20px;
    color: white;
    padding: 10px;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 20px;
}

/* ******************************
HEADER
****************************** */
header {
    /* width: calc(100vw - 400px); */
    height: 80px;
    background-color: #080b12;
    position: relative;

}




/* ******************************
MAIN
****************************** */


.hr-mn{
    height: calc(100vh - 100px)
}

main {
    /* height: calc(100vh - 180px); */
    height: calc(100vh - 180px);
    background-color: #141922;
    padding: 10px;
    overflow: auto;
    

}

.menù ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    
    width: 50%;
    padding: 5px;
}

.content img {
    width: 100%;

}

.content h6,
p {
    text-align: center;
}

.circle img {
    border-radius: 100%;
}

.Recently-played {
    padding: 5px;
}

section {
    margin: 20px 0;
}


/* ******************************
  FOOTER
  ****************************** */
footer {
    width: 100vw;
    height: 100px;
    background-color: #282828;
}

.player {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col-25 {
    width: 25%;
    height: 100%;
}

.col-50 {
    width: 50%;
    height: 100px;
   
}

.col-50 .barra-centrale{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    margin: auto 0;
}

.col-25 .content {
    display: flex;
    align-items: center;
    height: 100px;
    margin: auto 0 ;
}

.col-50 ul {
    display: flex;
    align-items: center;
    
}

.play ul {
    justify-content: center;
}

.play li {
    margin: 0 10px;
}

.load {
    border-radius: 20px;
    width: 100%;
    height: 5px;
    background-color: aqua;
}

.volumes ul {
    display: flex;
    align-items: center;
}

.audio {
    margin: auto 0;
}

.col-25 img {
    width: 50px;
}

.favorites{
    display: flex;
    flex-direction: column;
}

/* ******************************
MEDIA QUERY
  ****************************** */


/* Tablet */
@media screen and (min-width: 768px) {

    .sidebar {
        width: 400px;
    }

    
    .lungo {
        display: block;
    }
    
    .playlist {
        display: block;
    }
    
    .sidebar span {
        display: block;
    }
    
    .lungo img {
        width: 200px;
    }
    
    .logo {
        display: flex;
        justify-content: start;
    }
    .corto {
        display: none;
    }

}


/* Landscape */
@media screen and (min-width: 992px) {

    .sidebar {
        width: 400px;
    }

    .card{
        width: 25%;
    }

    .favorites{
        flex-direction: row;
    }

    
}


/* Desktop */
@media screen and (min-width: 1200x) {

    .sidebar {
        width: 400px;
    }



}